* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    
}
li {
    list-style: none;
}

.wrapper {
    width: 100%;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.btn-gradient {
    padding: 2rem 3rem;
    background-image: linear-gradient(to right,#f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: white;
    border-radius: 30px;
    transition: all 0.5s ;
    background-size: 200%;
    cursor: pointer;
    text-align: center;
}
.btn-gradient:hover {
    background-position: right center;
}


.title span {
    display: block;
    font-size: 1.8rem;
    color: #f55f8d;
    font-weight: bold;
}

.title h2 {
    font-size: 7rem;
    line-height: 1.1;
    margin: 1.5rem 0;
}