$primary: #f55f8d;
$secondary: #f8ae56;
$text-color: #636363;


// mixin flexBox
@mixin flexBox($align: flex-start,
    $justify: flex-start,
    $direction: row,
    $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

// mixin size   
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// start header
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    &__content {
        @include flexBox(center, space-between);
    }

    &__navbar {
        display: flex;
        align-items: center;

        &-list {
            display: flex;
            align-items: center;
            list-style: none;
            margin-right: 3rem;
        }

        &-item {
            margin: 0 1.2rem;
            padding: 55px 0;
        }

        &-item:hover .header__navbar-link span {
            animation: upToDown 0.2s;
        }

        @keyframes upToDown {
            49% {
                transform: translateY(100%);
            }

            50% {
                opacity: 0;
                transform: translateY(-100%);
            }

            51% {
                opacity: 1;
            }
        }

        &-link {
            color: #000;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 500;
            text-transform: capitalize;
            display: flex;
            align-items: center;
        }

        &-link:hover {
            color: #f55f8d;
        }

        &-icon {
            margin-left: 4px;
            font-size: 1rem;
            display: inline-block;
        }
    }
}

// end header

// start carousel
.carousel {
    background: url("../images/pic2.png") no-repeat;
    background-size: 100%;
    padding-top: 22rem;

    &__content {
        display: flex;
    }

    &__left {
        width: 60%;
    }

    &__right {
        width: 40%;
    }

    &__article {
        color: #636363;

        & p {
            font-size: 1.6rem;
        }
    }

    &__list {
        // margin: 1rem 0;
        margin: 3rem 0;
    }

    &__item {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        line-height: 1.6;
        margin-top: 1.5rem;

        & i {
            width: 40px;
            height: 40px;
            background-image: linear-gradient(to right, $primary, $secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            color: white;
            border-radius: 50%;
            margin-right: 1.5rem;
        }
    }

    &__banner {
        width: 57rem;
        margin-left: 5rem;

        & img {
            display: block;
            max-width: 100%;
        }
    }

}




// end carousel





// start services
.services {
    padding: 12rem 0;

    &__title {
        text-align: center;

        & p {
            color: $primary;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        & h2 {
            font-size: 7rem;

        }
    }

    &__list {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }

    &__item {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px;
        padding: 3rem 5rem;
        text-align: center;
        transition: 0.4s;

        &:hover {
            transform: translateY(-20px);
        }

        &-img {
            margin: 0 auto;
            width: 215px;
        }

        &-title {
            margin: 3rem 0;
            font-size: 2.4rem;
        }

        &-desc {
            font-size: 1.6rem;
            line-height: 1.6;
            color: $text-color;
        }

    }
}



// end services




// start about
.about {
    background-image: url("../images/bg15.png");
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    overflow: hidden;

    &__content {
        @include flexBox(center, flex-end);
    }

    &__left {
        width: 50%;
        position: absolute;
        left: 0;

        &-img {
            width: 680px;

            & img {
                border-radius: 0 100px 100px 0;
            }
        }
    }

    &__right {
        width: 50%;

        &-caption {
            color: $primary;
            font-size: 1.8rem;
            font-weight: bold;
        }

        &-title {
            font-size: 7rem;
            font-weight: bold;
            margin: 2rem 0;
        }

        &-desc {
            font-size: 1.6rem;
            color: $text-color;
            line-height: 1.4;
        }

        &-list {
            margin: 3rem 0;
        }

        &-item {
            color: $text-color;
            font-size: 1.6rem;
            @include flexBox(center);

            &:not(:last-child) {
                margin-bottom: 1.5rem;

            }

            & i {
                @include size(28px);
                border: 2px solid $primary;
                border-radius: 50%;
                @include flexBox(center, center);
                margin-right: 1rem;
                color: $primary;
            }
        }
    }
}



// end about




// start number
.number {
    margin: 8rem 0 10rem;
    padding: 8rem 0 5rem;
    background: url("../images/bg14.png");

    &__list {
        @include flexBox(center, space-between)
    }

    &__item {
        text-align: center;
        width: 25%;
    }

    &__icon {
        font-size: 4.5rem;
        color: white;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background: linear-gradient(to right, $primary, $secondary);
        @include flexBox(center, center);
        margin: 0 auto 15px;
    }

    &__count {
        font-size: 5.5rem;
        font-weight: bold;
        color: $primary;
    }

    &__text {
        font-size: 1.8rem;
    }
}


// end number



// start fearures

.features {
    // từ file sass ra ra
    background: url("../images/bg2.png") no-repeat center/ cover;
    background-size: 100%;
    padding-bottom: 0;
    overflow: hidden;

    &__inner {
        @include flexBox();
    }

    &__left,
    &__right {
        width: 50%;
    }

    &__left {
        &-item {
            padding: 0 5rem 3rem 0;
            overflow: hidden;
        }

        &-bg {
            padding: 3rem;
            @include flexBox(center);
            box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
            border-radius: 8px;
            transition: all 1s;
            position: relative;

            & i {
                font-size: 6rem;
                color: $primary;
                transition: all 1s;
                z-index: 3;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: all 1s;
                background-size: 200%;
                background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
                opacity: 0;
                border-radius: 8px;
            }

            &:hover::after {
                opacity: 1;
            }

            &:hover i {
                color: white;
            }

            &:hover .features__left-caption {
                color: white;
            }

            &:hover .features__left-desc {
                color: white;
            }
        }

        &-item:nth-of-type(2) {
            padding: 0 0 3rem 5rem;
        }

        &-content {
            margin-left: 3rem;
            z-index: 3;

        }

        &-caption {
            font-size: 2rem;
            font-weight: 800;
            color: #262626;
            transition: all 1s;
        }

        &-desc {
            margin-top: 1rem;
            font-size: 1.6rem;
            line-height: 1.4;
            color: $text-color;
            transition: all 1s;
        }
    }

    &__right {
        &-img {
            margin-top: 2rem;

            & img {
                max-width: 100%;
                animation: move 5s infinite;
            }
        }
    }

    @keyframes move {
        0% {
            transform: rotate(-1deg);
        }

        50% {
            transform: rotate(1deg);
        }

        100% {
            transform: rotate(-1deg);
        }
    }
}

// end features



// start portfolio
.portfolio {
    padding-top: 12rem;

    & .title {
        text-align: center;

        & span {
            font-size: 2.4rem;
        }

        & h2 {
            margin: 3rem 0 2rem;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 1.5fr;
        grid-gap: 35px;
    }

    &__item {
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        &:first-child {
            grid-area: 1 / span 2;
        }

        &:nth-child(5) {
            grid-area: 3 / span 2;
        }

        &:last-child {
            grid-column: 3/4;
            grid-row: 2/4;
        }

        &:hover .portfolio__overlay {
            opacity: 1;
            visibility: inherit;
        }

        &:hover .portfolio__icon {
            top: 20px;
            right: 20px;
        }

        &:hover .portfolio__text {
            bottom: 30px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: -100%;
            display: block;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3));
            transform: skewX(-25deg);
            transition: all 0.75s
        }

        &:hover::before {
            left: 100%;
        }
    }

    & img {
        @include size(100%);
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.8rem;
        color: white;
        @include size(50px);
        @include flexBox(center, center);
        background-image: linear-gradient(to right, $primary, $secondary);
        border-radius: 10px;
        transition: all 0.5s;
    }

    &__text {
        position: absolute;
        left: 30px;
        bottom: 0;
        color: white;
        transition: all 0.5s;

        & h3 {
            font-size: 2.2rem;
            margin-bottom: 6px;
        }

        & span {
            font-size: 1.6rem;
            color: #ccc;
        }
    }
}


// end portfolio




// start plan

.plan {
    padding-top: 12rem;
    background: url(../images/bg16.png) no-repeat;
    background-size: cover;
    background-position: center;

    & .title {
        text-align: center;
    }

    &__content {
        @include flexBox(center, space-between);
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 4rem;
        text-align: center;
    }

    &__item {
        width: calc(33.333% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
        background-color: #fff;
        border-radius: 8px;
        padding: 3.5rem 6rem;
        border: 3px solid transparent;
        border-image: 100 round;
        transition: all 0.5s;

        &:hover {
            border-image: url(../images/br.png) 1 round;
        }
    }

    &__caption {
        font-size: 3rem;
        font-weight: 700;

    }

    &__img {
        width: 125px;
        margin: 2rem auto;
    }

    & p {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 2rem;
    }

    & p span {
        color: $secondary;
        font-size: 4rem;
        font-weight: bold;
    }

    &__list {
        padding: 2rem 0 1rem;
        border-top: 1px solid #ccc;

        &-item {
            @include flexBox(center);
            margin-bottom: 1.5rem;
        }

        &-icon {
            @include size(3rem);
            background-color: rgba(255, 192, 203, 0.404);
            @include flexBox(center, center);
            border-radius: 50%;
            margin-right: 1.4rem;

            & i {
                color: $primary;
                font-size: 1.6rem;
                font-weight: bold;

            }
        }

        &-text {
            font-size: 1.8rem;
            color: #262626;
            font-weight: 400;
        }
    }
}



// end plan 




// start testimonial 


.testimonial {
    padding: 12rem 0;
    background-image: url(../images/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    & .title {
        text-align: center;
    }
}

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: $primary;
}

.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

.testimonial-text i {
    position: absolute;
    top: 40px;
    left: 250px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg)
}

.testimonial-name {
    display: block;
}

.testimonial-position {
    display: block;
    font-size: 1.8rem;
    color: $primary;
    margin: 1rem 0 2rem;
}

.testimonial-text p {
    color: $text-color;
    line-height: 1.6;
    font-weight: 400;
    font-style: italic;
    font-size: 1.8rem;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

.testimonial-pic .shape-bx {
    position: relative;
    height: 40px;
    width: 60px;
    left: 30%;
    transform: translateX(-30%);
    bottom: 16px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s
}

.testimonial-pic::after {
    @include size(10px);
    top: 150px;

}

.testimonial-pic::before,
.testimonial-pic::after {
    content: "";
    @include size(15px);
    border-radius: 50%;
    background-color: $primary;
    position: absolute;
    top: 120px;
    left: 42%;
    transform: translateX(-42%);
    opacity: 0;
}

.testimonial-pic::after {
    @include size(10px);
    top: 150px;
}


.testimonial__thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial__thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}


.swiper-slide-active .testimonial-pic::before,
.swiper-slide-active .testimonial-pic::after {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: $primary;
}

// end testimonial



// start blog

.blog {
    background-image: url(../images/bg16.png);
    background-position: top center;
    background-size: cover;
    padding-bottom: 50px;
    text-align: center;
    & .title {
        text-align: center;
    }


    &__item {
        border-radius: 8px;
        overflow: hidden;
        background: rgba(245, 95, 141, .1);
        text-align: left;
    }

    &__heading {
        position: relative;
    }

    &__time {
        position: absolute;
        padding: 1.3rem 1.8rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        background-image: linear-gradient((to right, $primary, $secondary));
        color: white;
        border-radius: 8px;
        bottom: -20px;
        left: 20px;
    }

    &__content {
        padding: 30px 15px 20px 15px;

        & h3 {
            font-size: 2rem;
            line-height: 1.4;

        }

        & p {
            font-size: 1.6rem;
            color: $text-color;
            line-height: 1.4;
            margin-top: 5px;
        }
    }

    &__bottom {
        @include flexBox();
        padding: 15px;

        & p {
            @include flexBox(center);
            margin-right: 2rem;
            font-size: 1.4rem;
            text-transform: uppercase;

            & i {
                font-size: 2rem;
                color: $primary;
                margin-right: 5px;
            }

            & span {
                color: $primary;
                margin-left: 5px;
            }
        }
    }
}


// end blog



// start footer

.footer {
    margin-top: 5rem;
    background: url(../images/bg4.png) no-repeat center / contain;
    background-color: #0e1b1f;
    position: relative;
    height: auto;
    display: block;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/pattern2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top;
    }

    &__top {
        padding: 50px 60px;
        background-image: url(../images/pattern3.png);
        position: relative;
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        background-color: white;
        border-radius: 10px;
        @include flexBox();

        &-title,
        &-form {
            width: 50%;
        }

        &-title {
            font-size: 2.8rem;
        }

        &-form {
            display: flex;
            border-radius: 5px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        &-input {
            padding: 20px 20px;
            font-size: 15px;
            font-weight: 400;
            color: #888;
            background: #fff;
            flex: 1 1 auto;
            border-radius: 0.5rem 0 0 0.5rem;
            border: 1px solid #fff;
            outline: 0;
            transition: all .5s;

            &::placeholder {
                font-size: 1.5rem;
                color: #888;
            }

            &:hover {
                border: 1px solid $primary;
            }
        }

        &-btn {
            padding: 20px 35px;
            font-size: 20px;
            background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
            background-size: 200%;
            border-color: transparent;
            transition: all .5s;
            border-radius: 0 0.5rem 0.5rem 0;
            color: #fff;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                background-position: right center;
            }
            & i {
                transition: all 0.5s;
                z-index: 2;
            }
            &:hover i {
                display: inline-block;
                animation: toLeftRightBtn 0.5s forwards;
            }
        }
    }
    @keyframes toLeftRightBtn{
        49% {
            transform: translateX(100%);
        }
        50% {
            opacity: 0;
            transform: translateX(-100%);
        }
        51% {
            opacity: 1;
        }
    }
    &__body {
        padding: 8rem 0;
        @include flexBox(center);
        position: relative;
        &-item {
            width: 25%;
            & a img{
                margin-top: -4rem;
            }
            & ul {
                & li {
                    margin-top: 1.8rem;
                    cursor: pointer;
                    & a{
                        color: #636363;
                        font-size: 1.6rem;
                        font-weight: 400;
                        transition: 0.5s;
                    
                    &:hover {
                        color: white;
                    }
                }
                }
            }
        }
        &-title {
            font-size: 2rem;
            color: white;
            font-weight: bold;
            margin-bottom: 5rem;
            padding-bottom: 1.4rem;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                @include size(16px, 4px);
                background-image: linear-gradient(to right, $primary, $secondary, $primary);
                border-radius: 10px;
                left: 0;
                bottom: 0;
            }
            &:after {
                content : "";
                position: absolute;
                @include size(40px, 4px);
                background-image: linear-gradient(to right, $primary, $secondary, $primary);
                border-radius: 10px;
                left: 24px;
                bottom: 0;
            }
        }
    }
    &__content {
        color: white;
        &-item {
            @include flexBox(center);
            margin-top: 2rem;
        }
        &-icon {
            @include size(4rem);
            background-image: linear-gradient(to right, $primary, $secondary, $primary);
            border-radius: 50%;
            @include flexBox(center, center);
            margin-right: 1rem;
            font-size: 1.8rem;
        }
        &-text {
            font-size: 1.4rem;
        }
    }

    &__bottom {
        position: relative;
        padding: 1rem 0;
        background-color: #1f343b;
        &-content {
            @include flexBox(center, space-between);
        }
        &-text {
            font-size: 1.6rem;
            color: white;
            & span {
                color: $primary;
            }
        }
        &-socical {
            @include flexBox(center);
        }
        &-item {
            @include size(3.6rem);
            border-radius: 50%;
            @include flexBox(center, center);
            background-color: rgba(255, 255, 255, .1);
            margin-right: 5px;
            transition: 0.5s;
            &:hover {
                background-color: $primary;
            }
        }
        &-link {
            font-size: 1.8rem;
            color: white;
        }
    }


}




.back-to-top {
    @include size(50px);
    background-color: $primary;
    border-radius: 8px;
    @include flexBox(center, center);
    font-size: 2rem;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-weight: bold;
}
.js-cd-top {
    opacity: 0;
}
.cd-top--is-visible {
    opacity: 1;
    visibility: visible;
}


// end footer