.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__navbar {
  display: flex;
  align-items: center;
}
.header__navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 3rem;
}
.header__navbar-item {
  margin: 0 1.2rem;
  padding: 55px 0;
}
.header__navbar-item:hover .header__navbar-link span {
  animation: upToDown 0.2s;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
.header__navbar-link {
  color: #000;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.header__navbar-link:hover {
  color: #f55f8d;
}
.header__navbar-icon {
  margin-left: 4px;
  font-size: 1rem;
  display: inline-block;
}

.carousel {
  background: url("../images/pic2.png") no-repeat;
  background-size: 100%;
  padding-top: 22rem;
}
.carousel__content {
  display: flex;
}
.carousel__left {
  width: 60%;
}
.carousel__right {
  width: 40%;
}
.carousel__article {
  color: #636363;
}
.carousel__article p {
  font-size: 1.6rem;
}
.carousel__list {
  margin: 3rem 0;
}
.carousel__item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  line-height: 1.6;
  margin-top: 1.5rem;
}
.carousel__item i {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: white;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.carousel__banner {
  width: 57rem;
  margin-left: 5rem;
}
.carousel__banner img {
  display: block;
  max-width: 100%;
}

.services {
  padding: 12rem 0;
}
.services__title {
  text-align: center;
}
.services__title p {
  color: #f55f8d;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.services__title h2 {
  font-size: 7rem;
}
.services__list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}
.services__item {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 3rem 5rem;
  text-align: center;
  transition: 0.4s;
}
.services__item:hover {
  transform: translateY(-20px);
}
.services__item-img {
  margin: 0 auto;
  width: 215px;
}
.services__item-title {
  margin: 3rem 0;
  font-size: 2.4rem;
}
.services__item-desc {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #636363;
}

.about {
  background-image: url("../images/bg15.png");
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
}
.about__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about__left {
  width: 50%;
  position: absolute;
  left: 0;
}
.about__left-img {
  width: 680px;
}
.about__left-img img {
  border-radius: 0 100px 100px 0;
}
.about__right {
  width: 50%;
}
.about__right-caption {
  color: #f55f8d;
  font-size: 1.8rem;
  font-weight: bold;
}
.about__right-title {
  font-size: 7rem;
  font-weight: bold;
  margin: 2rem 0;
}
.about__right-desc {
  font-size: 1.6rem;
  color: #636363;
  line-height: 1.4;
}
.about__right-list {
  margin: 3rem 0;
}
.about__right-item {
  color: #636363;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about__right-item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.about__right-item i {
  width: 28px;
  height: 28px;
  border: 2px solid #f55f8d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 1rem;
  color: #f55f8d;
}

.number {
  margin: 8rem 0 10rem;
  padding: 8rem 0 5rem;
  background: url("../images/bg14.png");
}
.number__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.number__item {
  text-align: center;
  width: 25%;
}
.number__icon {
  font-size: 4.5rem;
  color: white;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: linear-gradient(to right, #f55f8d, #f8ae56);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto 15px;
}
.number__count {
  font-size: 5.5rem;
  font-weight: bold;
  color: #f55f8d;
}
.number__text {
  font-size: 1.8rem;
}

.features {
  background: url("../images/bg2.png") no-repeat center/cover;
  background-size: 100%;
  padding-bottom: 0;
  overflow: hidden;
}
.features__inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.features__left, .features__right {
  width: 50%;
}
.features__left-item {
  padding: 0 5rem 3rem 0;
  overflow: hidden;
}
.features__left-bg {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 1s;
  position: relative;
}
.features__left-bg i {
  font-size: 6rem;
  color: #f55f8d;
  transition: all 1s;
  z-index: 3;
}
.features__left-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 1s;
  background-size: 200%;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  opacity: 0;
  border-radius: 8px;
}
.features__left-bg:hover::after {
  opacity: 1;
}
.features__left-bg:hover i {
  color: white;
}
.features__left-bg:hover .features__left-caption {
  color: white;
}
.features__left-bg:hover .features__left-desc {
  color: white;
}
.features__left-item:nth-of-type(2) {
  padding: 0 0 3rem 5rem;
}
.features__left-content {
  margin-left: 3rem;
  z-index: 3;
}
.features__left-caption {
  font-size: 2rem;
  font-weight: 800;
  color: #262626;
  transition: all 1s;
}
.features__left-desc {
  margin-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #636363;
  transition: all 1s;
}
.features__right-img {
  margin-top: 2rem;
}
.features__right-img img {
  max-width: 100%;
  animation: move 5s infinite;
}
@keyframes move {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.portfolio {
  padding-top: 12rem;
}
.portfolio .title {
  text-align: center;
}
.portfolio .title span {
  font-size: 2.4rem;
}
.portfolio .title h2 {
  margin: 3rem 0 2rem;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  grid-gap: 35px;
}
.portfolio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio__item:first-child {
  grid-area: 1/span 2;
}
.portfolio__item:nth-child(5) {
  grid-area: 3/span 2;
}
.portfolio__item:last-child {
  grid-column: 3/4;
  grid-row: 2/4;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  visibility: inherit;
}
.portfolio__item:hover .portfolio__icon {
  top: 20px;
  right: 20px;
}
.portfolio__item:hover .portfolio__text {
  bottom: 30px;
}
.portfolio__item::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3));
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__item:hover::before {
  left: 100%;
}
.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.portfolio__icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.8rem;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 10px;
  transition: all 0.5s;
}
.portfolio__text {
  position: absolute;
  left: 30px;
  bottom: 0;
  color: white;
  transition: all 0.5s;
}
.portfolio__text h3 {
  font-size: 2.2rem;
  margin-bottom: 6px;
}
.portfolio__text span {
  font-size: 1.6rem;
  color: #ccc;
}

.plan {
  padding-top: 12rem;
  background: url(../images/bg16.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.plan .title {
  text-align: center;
}
.plan__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 4rem;
  text-align: center;
}
.plan__item {
  width: calc(33.333% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 1px 0 50px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  padding: 3.5rem 6rem;
  border: 3px solid transparent;
  border-image: 100 round;
  transition: all 0.5s;
}
.plan__item:hover {
  border-image: url(../images/br.png) 1 round;
}
.plan__caption {
  font-size: 3rem;
  font-weight: 700;
}
.plan__img {
  width: 125px;
  margin: 2rem auto;
}
.plan p {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
.plan p span {
  color: #f8ae56;
  font-size: 4rem;
  font-weight: bold;
}
.plan__list {
  padding: 2rem 0 1rem;
  border-top: 1px solid #ccc;
}
.plan__list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 1.5rem;
}
.plan__list-icon {
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 192, 203, 0.404);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 50%;
  margin-right: 1.4rem;
}
.plan__list-icon i {
  color: #f55f8d;
  font-size: 1.6rem;
  font-weight: bold;
}
.plan__list-text {
  font-size: 1.8rem;
  color: #262626;
  font-weight: 400;
}

.testimonial {
  padding: 12rem 0;
  background-image: url(../images/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial .title {
  text-align: center;
}

.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}

.testimonial-comment {
  min-height: 300px;
  width: 100%;
}

.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}

.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.testimonial-text i {
  position: absolute;
  top: 40px;
  left: 250px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial-name {
  display: block;
}

.testimonial-position {
  display: block;
  font-size: 1.8rem;
  color: #f55f8d;
  margin: 1rem 0 2rem;
}

.testimonial-text p {
  color: #636363;
  line-height: 1.6;
  font-weight: 400;
  font-style: italic;
  font-size: 1.8rem;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
  opacity: 1;
}

.testimonial-pic .shape-bx {
  position: relative;
  height: 40px;
  width: 60px;
  left: 30%;
  transform: translateX(-30%);
  bottom: 16px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}

.testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial-pic::after {
  width: 10px;
  height: 10px;
  top: 150px;
}

.testimonial-pic::before,
.testimonial-pic::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f55f8d;
  position: absolute;
  top: 120px;
  left: 42%;
  transform: translateX(-42%);
  opacity: 0;
}

.testimonial-pic::after {
  width: 10px;
  height: 10px;
  top: 150px;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}

.testimonial__thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.swiper-slide-active .testimonial-pic::before,
.swiper-slide-active .testimonial-pic::after {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}

.blog {
  background-image: url(../images/bg16.png);
  background-position: top center;
  background-size: cover;
  padding-bottom: 50px;
  text-align: center;
}
.blog .title {
  text-align: center;
}
.blog__item {
  border-radius: 8px;
  overflow: hidden;
  background: rgba(245, 95, 141, 0.1);
  text-align: left;
}
.blog__heading {
  position: relative;
}
.blog__time {
  position: absolute;
  padding: 1.3rem 1.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  color: white;
  border-radius: 8px;
  bottom: -20px;
  left: 20px;
}
.blog__content {
  padding: 30px 15px 20px 15px;
}
.blog__content h3 {
  font-size: 2rem;
  line-height: 1.4;
}
.blog__content p {
  font-size: 1.6rem;
  color: #636363;
  line-height: 1.4;
  margin-top: 5px;
}
.blog__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 15px;
}
.blog__bottom p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.blog__bottom p i {
  font-size: 2rem;
  color: #f55f8d;
  margin-right: 5px;
}
.blog__bottom p span {
  color: #f55f8d;
  margin-left: 5px;
}

.footer {
  margin-top: 5rem;
  background: url(../images/bg4.png) no-repeat center/contain;
  background-color: #0e1b1f;
  position: relative;
  height: auto;
  display: block;
}
.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
.footer__top {
  padding: 50px 60px;
  background-image: url(../images/pattern3.png);
  position: relative;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer__top-title, .footer__top-form {
  width: 50%;
}
.footer__top-title {
  font-size: 2.8rem;
}
.footer__top-form {
  display: flex;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer__top-input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__top-input::placeholder {
  font-size: 1.5rem;
  color: #888;
}
.footer__top-input:hover {
  border: 1px solid #f55f8d;
}
.footer__top-btn {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.footer__top-btn:hover {
  background-position: right center;
}
.footer__top-btn i {
  transition: all 0.5s;
  z-index: 2;
}
.footer__top-btn:hover i {
  display: inline-block;
  animation: toLeftRightBtn 0.5s forwards;
}
@keyframes toLeftRightBtn {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
.footer__body {
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.footer__body-item {
  width: 25%;
}
.footer__body-item a img {
  margin-top: -4rem;
}
.footer__body-item ul li {
  margin-top: 1.8rem;
  cursor: pointer;
}
.footer__body-item ul li a {
  color: #636363;
  font-size: 1.6rem;
  font-weight: 400;
  transition: 0.5s;
}
.footer__body-item ul li a:hover {
  color: white;
}
.footer__body-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-bottom: 5rem;
  padding-bottom: 1.4rem;
  position: relative;
}
.footer__body-title:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 4px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  border-radius: 10px;
  left: 0;
  bottom: 0;
}
.footer__body-title:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  border-radius: 10px;
  left: 24px;
  bottom: 0;
}
.footer__content {
  color: white;
}
.footer__content-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2rem;
}
.footer__content-icon {
  width: 4rem;
  height: 4rem;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 1rem;
  font-size: 1.8rem;
}
.footer__content-text {
  font-size: 1.4rem;
}
.footer__bottom {
  position: relative;
  padding: 1rem 0;
  background-color: #1f343b;
}
.footer__bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer__bottom-text {
  font-size: 1.6rem;
  color: white;
}
.footer__bottom-text span {
  color: #f55f8d;
}
.footer__bottom-socical {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer__bottom-item {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 5px;
  transition: 0.5s;
}
.footer__bottom-item:hover {
  background-color: #f55f8d;
}
.footer__bottom-link {
  font-size: 1.8rem;
  color: white;
}

.back-to-top {
  width: 50px;
  height: 50px;
  background-color: #f55f8d;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 2rem;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-weight: bold;
}

.js-cd-top {
  opacity: 0;
}

.cd-top--is-visible {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
